th {
background-color: yellow;
border: solid;
height: 30px;
}

td {
border: 3px dotted blue;
height: 30px;
}

table {
border-collapse: collapse;
text-align: center;
margin: auto;
width: 650px;
}

.red {
color: red;
}

h1 {
text-align: center;
color: green;
}

body {
font-family: Verdana;
}

.blue {
color: blue;
}